$color-background: #323264;
$color-white: #FFFFFF;
$color-red:
#F0145A;
$color-grey-separator:
#E6E6F0;
/*$font-regular: 'Montserrat-Regular', sans-serif;
$font-bold: 'Montserrat-Bold', sans-serif;
$font-thin: 'Montserrat-Thin', sans-serif;*/
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-thin: 100;
$font-regular: 'Montserrat', sans-serif;
$font-bold: 'Montserrat', sans-serif;
$font-thin: 'Montserrat', sans-serif;

$red-gradient: linear-gradient(90deg, #F0145A 0%, #EF8080 100%);
$red-gradient-li: linear-gradient(90deg, #EF8080 0%, #F0145A 100%);
$color-grey-local: 
#F5F5FA;
$color-grey-local-transparent: rgba($color-grey-local, 0.2);
$color-grey-address: 
#B3B3BA;
$color-active-blue: 
#24A3FF;
$color-circle-icon: rgba(255, 255, 255, 0.5);
$color-dark: #323264;
$color-mid: #643E72;